* text=auto

/.editorconfig      export-ignore
/.github            export-ignore
/.well-known        export-ignore
/CONTRIBUTING.md    export-ignore
/tests              export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/phpcs.xml.dist     export-ignore
/phpunit.dist.xml   export-ignore
/phpstan.dist.neon  export-ignore
/docker-compose.yml export-ignore
/Dockerfile         export-ignore
