language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - nightly
  - hhvm
 
matrix:
    allow_failures:
        - php: 7.0
        - php: nightly
        - php: hhvm

before_install:
  - sudo add-apt-repository -y ppa:moti-p/cc
  - sudo apt-get update
  - sudo apt-get -y --reinstall install imagemagick
  - printf "\n" | pecl install imagick-beta

before_script:
  - composer self-update
  - composer install --prefer-source --no-interaction --dev

script: phpunit
