parameters:
    level: 5
    paths:
        - src
    exceptions:
        check:
            missingCheckedExceptionInThrows: true
        uncheckedExceptionClasses:
            - ImagickException
            - ImagickDrawException
            - ImagickPixelException
            - Error
    ignoreErrors:
        - '#^Parameter .* expects Intervention\\Image\\Colors\\Rgb\\Color, Intervention\\Image\\Interfaces\\ColorInterface given\.$#'
