parameters:
    level: 6
    paths:
        - src
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - 
            identifier: unset.possiblyHookedProperty
    exceptions:
        check:
            missingCheckedExceptionInThrows: true
        uncheckedExceptionClasses:
            - ImagickException
            - ImagickDrawException
            - ImagickPixelException
            - Error
