includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    level: 6
    paths:
        - src
    exceptions:
        check:
            missingCheckedExceptionInThrows: true
    strictRules:
        disallowedLooseComparison: true
        booleansInConditions: true
        booleansInLoopConditions: false
        uselessCast: false
        requireParentConstructorCall: false
        disallowedBacktick: false
        disallowedImplicitArrayCreation: false
        disallowedShortTernary: false
        overwriteVariablesWithLoop: false
        closureUsesThis: false
        matchingInheritedMethodNames: false
        numericOperandsInArithmeticOperators: false
        strictFunctionCalls: false
        dynamicCallOnStaticMethod: false
        switchConditionsMatchingType: false
        noVariableVariables: false
        strictArrayFilter: false
        illegalConstructorMethodCall: false
        disallowedEmpty: true
